{% extends 'base.html.twig' %}
    {% block body %}
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
     <img src="/img/logoaccueil.png" class="position">
     <style>
     .position{
         margin-left: 350px;
     }
    .titreentree{
    color: #aa66cc;
    text-align: center;
    font-size:  50px;
     }
     </style>
    <p class="titreentree"> Bienvenue Sur notre site de vente pour femme</p>
    <br>
    <br>
    <img src="http://1.bp.blogspot.com/_SfV-3GYYBms/TRisNOvW0xI/AAAAAAAACFU/iDOtAu8nquQ/s1600/we%2Bheart%2Bit%2B%252811%2529.jpg"><img src="https://data.whicdn.com/images/306705110/superthumb.jpg?t=1517823592"><img src="https://data.whicdn.com/images/290422803/superthumb.jpg?t=1498478863">
                      
        </div>
    <br>
                 <br>
                 <br>
                 <br> 
    
   

    {% endblock %}

