{% extends 'base.html.twig' %}
 {% block body %}
 <br>
 <br>
 <br>
 <br>
 <hr class="my-5">
<h2 class="h1-responsive font-weight-bold text-center mb-5">Nos partenaires</h2>
<section id="about" class="py-5">

    
    <div class="container">
        

        
        <div class="row">

          
            <div class="col-lg-5 text-center text-lg-left">
                
                 <div class="row mb-3">

                    <div class="col-1">
                        <i class="fas fa-share fa-lg indigo-text"></i>
                    </div>
                 
                    <div class="col-xl-10 col-md-11 col-10">
                        <h5 class="font-weight-bold mb-3">Ràdio Arrels, Perpinyà</h5>
                        <a href="https://www.radioarrels.cat/"><img src="/img/radio.PNG" height="50px" id="ho"></a>
                    </div>
                     <style>
                      #ho:hover{ 
                          border-left: 30px solid white;
                      }  
                      
                    </style>

                </div>
                 <div class="row mb-3">

                   
                    <div class="col-1">
                        <i class="fas fa-share fa-lg indigo-text"></i>
                    </div>
                    
                    <div class="col-xl-10 col-md-11 col-10">
                        <h5 class="font-weight-bold mb-3">L'indépendant, Perpinyà</h5>
                        <a href="https://www.lindependant.fr/"><img src="/img/inde.PNG" id="ho"  height="50px"></a>
                    </div>
                  
                </div>
                  <div class="row">

                    <!-- Grid column -->
                    <div class="col-1">
                        <i class="fas fa-share fa-lg indigo-text"></i>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-xl-10 col-md-11 col-10">
                        <h5 class="font-weight-bold mb-3">Casa Generalitat, Perpinyà</h5>
                        <a href="https://fr-fr.facebook.com/casagovperpinya/"><img src="/img/casa.PNG" height="80px" id="ho"></a>
                       
                    </div>
                    <!-- Grid column -->

                </div>
                
            </div>
          
           
            <div class="col-lg-7">

              
                <div class="row mb-3">

                    
                    <div class="col-1">
                        <i class="fas fa-share fa-lg indigo-text"></i>
                    </div>
                   
                    <div class="col-xl-10 col-md-11 col-10">
                        <h5 class="font-weight-bold mb-3">Libreria Catalana, Perpinyà</h5>
                        <a href="https://www.llibreriacatalana.cat/ca/"><img src="/img/libreria.PNG" height="80px" id="ho"></a>
                    </div>
                    

                </div>
                <div class="row mb-3">

                    <!-- Grid column -->
                    <div class="col-1">
                        <i class="fas fa-share fa-lg indigo-text"></i>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-xl-10 col-md-11 col-10">
                        <h5 class="font-weight-bold mb-3">Omnium Cultural, Catalunya Nord</h5>
                        <a href="https://www.omnium.cat/ca/"><img src="/img/omnium.PNG" height="100px" id="ho"></a>
                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->
                <!--Grid row-->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-1">
                        <i class="fas fa-share fa-lg indigo-text"></i>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-xl-10 col-md-11 col-10">
                        <h5 class="font-weight-bold mb-3">APLEC, Perpinyà</h5>
                        <a href="http://aplec.cat/"><img src="/img/aplec.PNG" height="50px" id="ho"></a>
                       
                    </div>
                    <!-- Grid column -->

                </div>
                <!--Grid row-->

            </div>
            <!--Grid column-->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Container -->

</section>
<!--Section: about-->

{% endblock %}